@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Ubuntu:wght@300;400;500&display=swap");
@import "leaflet/dist/leaflet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  scroll-behavior: smooth;
  @apply font-notoSans;
}

.bg {
  @apply w-screen h-screen;
  @apply fixed top-0 right-0;
  @apply bg-no-repeat bg-cover;
  @apply -z-1;
}

.bg-result {
  @apply h-screen w-screen;
  @apply fixed top-0 right-0;
  @apply bg-no-repeat bg-center;
  @apply -z-1;

  background-image: url("@/assets/images/bg-Result.png");
  background-size: 100% 100%;
}

input[type="search"]::-webkit-search-cancel-button {
  appearance: none;
}

/* width */
::-webkit-scrollbar {
  @apply w-2;
}

@layer utilities {
  /* Handle */
  .dark-green-scroll::-webkit-scrollbar-thumb {
    @apply bg-dark-green rounded-full;
  }

  .blue-scroll::-webkit-scrollbar-thumb {
    @apply bg-blue rounded-full;
  }

  .orange-scroll::-webkit-scrollbar-thumb {
    @apply bg-orange rounded-full;
  }
}

.leaflet-tooltip {
  @apply bg-dark-green border-dark-green text-white font-bold py-0.5 px-2 space-x-1;
}

.leaflet-tooltip-top::before {
  @apply border-t-dark-green;
}
